html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 1px;
}

::-webkit-scrollbar-track {
  background-color: #444;
}

::-webkit-scrollbar-button {
  background-color: #444;
}

::-webkit-scrollbar-corner {
  background-color: #444;
}

body {
  display: flex;
  height: 100vh;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #444;
}

.describtion {
  padding: 20px;
  width: 35%;
  align-self: self-start;
  margin-top: 35px;
  border-radius: 5px;
  max-height: 578px;

  ul {
    margin-left: 5px;
  }
}

.describtion .sub-describtion {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 450;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-self: self-start;
  height: fit-content;
  overflow-y: scroll;
  max-height: 500px;

  strong {
    margin-bottom: 2px;
  }
}

ul {
  margin-left: 5px;
}

.describtion h2 {
  margin-bottom: 20px;
}

.describtion a {
  color: #00df9a;
}
.container {
  max-width: 700px;
  width: 100%;
  height: auto;
  background: #000;
  padding: 25px 30px;
  border-radius: 5px;
  /* box-shadow: 5px 5px 15px #fff; */
}

.container .title {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  margin-bottom: 12px;
  color: #fff;
}
.container .title span {
  color: #00df9a;
}

.container .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
}
.container form .user-details {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0 2px 0;
  max-height: 450px;
  overflow-y: scroll;
}
/* .user-details::-webkit-scrollbar {
    display: none; 
} */
form .user-details .input-box {
  margin-bottom: 5px;
  width: calc(100% / 2 - 20px);
}
.input-box .details label {
  margin-left: 5px;
}
.user-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box select {
  height: 45px;
  width: 94%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000;
  padding-left: 8px;
  font-size: 15px;
  border-bottom-width: 1px;
  transition: all 0.3s ease;
}

.user-details .input-box .select {
  margin-left: 2px;
  color: #000;
  height: 45px;
  width: 94%;
  outline: none;
  border-radius: 5px;
  /* border: 0.2px solid #00df9a; */
  padding-left: 8px;
  font-size: 15px;
  border-bottom-width: 4px;
  transition: all 0.3s ease;
}

.select option {
  color: #000;
}

.select option:checked {
  .select {
    color: #00df9a;
  }
}

form .button {
  height: 35px;
  padding-left: 33%;
}

form .button input {
  height: 100%;
  width: 200px;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
  background: linear-gradient(135deg, #00df9a, #444);
  cursor: pointer;
}
form .button input:hover {
  transition: 0.5s ease;
  background: linear-gradient(-135deg, #00df9a, #444);
}
@media (max-width: 584px) {
  .container {
    max-width: 100px;
  }
}
