@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html{
    scroll-behavior:smooth;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    color: #fff;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url('../images/flat-lay-medical-desk-arrangement-with-copy-space.jpg');
    background-position: center;
    background-size: cover;
    border: 1px solid #1b1b1b;
    padding-top: 20px;
    padding-left: 8%;
    padding-right: 8%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    font-size: 40px;
}
.logo span{
    color: #065206e3;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    
}
nav ul li a{
    font-weight:bold;
    color: #065206e3;
    text-decoration: none;
    transition: 0.5s ease;
}
nav ul li a:hover{

    text-decoration:underline #065206 1px;
    text-underline-offset: 6px;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
}
.login{
    color: #065206e3;
    background-color: #ffffff9d;
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 5px;
    padding: 9px 20px;
    text-decoration: none;
    transition: 0.5s ease;

}
.login:hover{
    border: 1px solid #065206;
    background: transparent;
}
.register{
    color: #fff;
    text-decoration: none;
    background: #06520684;
    font-weight: bold;
    margin-right: -10px;
    padding: 9px 15px;
    border-radius: 5px;
    font-size: 15px;
    transition: 0.5s ease;
}
.register:hover{
    color: #065206;
    border:1px solid #065206;
    background: transparent;
}
.caption{
    margin-top: 8%;
    max-width: 600px;
    color: #fff;
}
.caption h3{
    color: #fff;
    font-size: 50px;
}
.caption h3 span{
    color: #065206e3;
}
.caption p{
    color: #ffffffb9;
    margin-top: 10px;
    line-height: 23px;
    font-size: 15px;
}
.link{
    margin-top: 30px;
}
.link .hire{
    color: #065206e3;
    background: #ffffffb5;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.5s;
}
.link .hire:hover{
   color: #fff;
   background: transparent;
   border: 1px solid #fff; 
}


#about{
    width: 100%;
    height: 100vh;
    /* background-image: url("../images/top-view-medical-desk-arrangement-with-copy-space.jpg"); */
    background-color: #fff;
    background-size: cover;
    border: 1px solid #1b1b1b;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items:center;

    
}
.container1{
    height: 90vh;
    width: 90%;
    /* background-color: #1b1b1b; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20;
}
.image{
    height: 370px;
    width: 320px;
    margin-left: 20px;
    background-color: lightcoral;
    background-image: url(../images/18134.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 300px;
    border: 3px solid #065206;
}
.about-text{
    font-size: 15px; 
    /* background-color: lightblue; */
    margin-top: 40px;
    margin-bottom: 90px;
    max-width: 650px;
    box-shadow: #1b1b1b;
    
}
.about-text h2{
    margin-left: 70%;
    display: inline;
    color: #1b1b1b;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    transition: 0.5s ease;
}
.about-text h2:hover{
    text-decoration:underline #065206 1px;
    text-underline-offset: 10px;
}
.about-text span{
    color: #065206;
}
p{
    color: #1b1b1b;
    max-width: 800px;
    margin-top: 35px;
    line-height: 23px;
    text-align: left;
}

#imp{
    color: #065206;
    font-weight: bold;
    text-decoration: none;
}
#imp:hover{
    text-decoration:underline #065206 1px;
    text-underline-offset: 2px;
}

#alg{
    font-weight: bold;
    text-decoration: none;
    color: #065206;
}
#alg:hover{
    text-decoration:underline #065206 1px;
    text-underline-offset: 2px;
    
}

section{
    margin-top: 1%;
}

#service{
    width: 100%;
    height: 100vh;
    background: url("../images/top-view-arrangement-medical-desk-with-copy-space.jpg");
    background-color: #fff;
    background-size: cover;
    background-position: center;
    /* background-position:bottom; */
    background-repeat: no-repeat;
    border: 1px solid #1b1b1b;
}

#background{
    background-color: lightcoral;
    height: 50vh;
}
.header{
    /* background-color: lightpink ; */
    /* display: flex; */
    color: #fff;
    align-items: center; 
    padding-left: 5%; 
    padding-top:1.5%;  
}

.header p{
    margin-top: auto;
    color: #fff;
 /* background-color: lightblue; */
}
.service-title{
    display: inline-block;
    /* background-color: aqua; */
    height: auto;
    width: auto;
    font-size: 32px;
    transition:all 0.5s ease;
    cursor: pointer;
}

.service-title:hover{
    text-decoration: underline #065206 1px;
    text-underline-offset: 8px;
}

.service-title span{
    color: #065206;
}

.header p{
    margin-top: 1%;
}

.disease-mod{
    border:1px solid #fff;
    border-radius: 15px;
    background-color: #6d6a6a17;
    display: flex;
    gap: 12%;
    height: 450px;
    width: 90%;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    
}
.mod{
    height: 280px;
    width: 200px;
}

.mod-wallpaper1{
    border-radius: 5px;
    background-image: url('../images/pexels-pavel-danilyuk-7108344.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    
}

.mod-wallpaper2{
    border-radius: 5px;
    background-image: url('../images/anatomic-heart-model-educational-purpose-with-stack-books.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.mod-wallpaper3{
    border-radius: 5px;
    background-image: url('../images/pexels-n-voitkevich-6941879.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#dis-name{
    margin-top: 2%;
    display:flex;
    /* background: lightcoral; */
    justify-content: center;
}
#dis-name a{
    /* background-color: #065206; */
    color: #065206;
    font-weight: bold;
    text-decoration: none;
}


