*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    background: #1b1b1b;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
}

b{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}


.tabcontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form-container{
    display: flex;
    align-items: center;
    justify-content:center ;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
fieldset{
    width: 250px;
}

input{
    margin-top: 5px;
}
button{
    margin-bottom: 5px;
    width: 170px;
    height: 25px;
    cursor: pointer;    
}

